
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --border: .1rem solid rgba(255,255,255,.3);
}

*{
    font-family: "Nunito", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width: 0.8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html ::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
}

.header{
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: 1px solid #eee;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    width: 20rem;
}

.header .navbar a{
    margin: 0.8rem;
    font-size: 1.6rem;
    color: black;
}

.header .navbar a:hover{
    color: #4f3b34;
    border-bottom: 0.1rem solid #4f3b34;
    padding-bottom: 0.5rem;
}

.login-btn{
    padding: 10px 22px;
    background-color: transparent;
    border: 1px solid #141211;
    border-radius: 50px;
    font-family: "Ubuntu Sans Mono", monospace;
    font-size: 1.6rem;
    color: #141211;
    text-decoration: none;
    box-shadow: 0 0 0;
     transition: all 200ms;
}

.login-btn:hover{
    transform: translateY(-10px);
    box-shadow: 0px 12px 1px black;
}
.header .icons div{
    color: black;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;

}

.header .icons div:hover{
    color: green;       
}

#menu-btn{
    display: none;
}

.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: transparent;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
    
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: black;
    padding: 1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: black;
    right: 10px;
    position: absolute;
}

.header .search-form label:hover{
    color: red;
}



section{
    padding: 2rem 7%;
}

.heading{
    text-align: center;
    color: black;
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color: rgb(158, 158, 216);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.9rem 3rem;
    font-size: 1.7rem;
    color: white;
    background-color: black;
    cursor: pointer;
}


.btn:hover{
    background-color: #234568;
    cursor: pointer;
}


/* isme aaraha hai issue dekho*/

@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }
}
/*and ye maine tablet ke liye likha tha jisko 768 karna hai merko but ho work nahi kar raha ye 768px pr */
@media (max-width: 768px){
   #menu-btn{
         display: inline-block;
   }

   .header .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background: #eee;
        width: 30rem;
        height: calc(100vh - 9.5rem);
   }

   .header .navbar a{
        display: block;
        color: black;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
   }

   .header .navbar.active{
        right: 0;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .content h3{
        font-size: 4.5rem;
    }
    .home .content p{
        font-size: 2.5rem;
        padding-left: 40px;
        margin: 0 auto;
    }

    .video iframe{
        width: auto;
        height: auto;
    }

}
/*  dekho phones ke liye hai*/

@media (max-width: 450px){
    html{
        font-size: 50%;
    }


}


/* ab page ka home*/

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../images/back2.jpg) no-repeat;
    background-size: contain;
    background-position: right;
}

.home .content{
    max-width: 60rem;
}

.home .content h3{
    max-width: 60rem;
    font-size: 4rem;
    text-transform: uppercase;
    color: #1C2B3A;
}

.home .content p{
    max-width: 40rem;
    font-weight: light;
    font-size: 1.2rem;
    line-height: 1.8;
    padding: 1rem 0;
    color: black;
}

/* yahn pe dashboard ayega hamara*/

.dashboard{
    min-height: 25vh;
    display: flex;
    align-items: center;
    background: white;
    background-size: cover;
    background-position: center;
}

/* about us wala section hai ye hamare page ka*/
.about .row{
    display: flex;
    align-items: center;
    background-color: #fff;
    flex-wrap: wrap;
}

.about .row .image{
    flex: 1 1 45rem;
}

.about .row .image img{
    width: 100%;
    /*height: fit-content;*/
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.about .row .content h3{
    font-size: 3rem;
    color: black;
} 

.about .row .content p{
    font-size: 1.6rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.8;
} 

/*ye youtube video wala section hai*/

.video{
    display: flex;
    justify-content: center;
    min-height: 25vh;
    align-items: center;
    background:  #eee;
    background-size: cover;
    background-position: center;
}
.video iframe{
    width: 790px;
    height: 444px;
}
/*ways to help wala section*/

.waystohelp .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.waystohelp .content h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #1C2B3A;
}

.waystohelp .content p{
    font-size: 1.6rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.8;
}

/* ye what we do section hai */

.whatwedo .row{
    display: flex;
    align-items: center;
    background-color: #fff;
    flex-wrap: wrap;
}

.whatwedo .row .image{
    flex: 1 1 45rem;
}

.whatwedo .row .image img{
    width: 100%;
    height: fit-content;
}

.whatwedo .row .content{
    flex: 1 1 45rem;
    padding: 2rem;
}

.whatwedo .row .content h3{
    font-size: 2.2rem;
    color: black;
} 

.whatwedo .row .content p{
    font-size: 1.6rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.8;
} 


/* Ye hai hamara contct us section */

.contactus .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    background-color: #eee;

}

.contactus .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contactus .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}

.contactus .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: black;
}

.contactus .row form .inputBox{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: white;
    border: var(--border);
}

.contactus .row form .inputBox span{
    color: black;
    font-size: 2rem ;
    padding-left: 2rem;
}

.contactus .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    text-transform: none;
    background: none;

}

/*agar blogs pe kuch kiya to isme karlenge*/





/* ye raha hai footer section*/


.footer{
    background-color: #cfdaf7;
    text-align: center;
}

.footer .share{
    padding: 1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: black;
    border:var(--border);
    margin: 1.3rem;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition-property: 
    outline-offset, outline-color, background-color;
    outline: 2px solid grey;
    transition-duration: .25s;
}

.footer .share a:hover{
    outline-offset: 4px;
}

.footer .share .fa-twitter:hover{
    background-color: #1da1f2;
    outline-color: #1da1f2;
    color: white;
    animation: shake .25s;
    -webkit-animation: shake .25s;
}

.footer .share .fa-github:hover{
    background-color: #2ea44f;
    outline-color: #2ea44f;
    color: white;
    animation: shake .25s;
    -webkit-animation: shake .25s;
}

.footer .share .fa-linkedin:hover{
    background-color: #0077b5;
    outline-color: #0077b5;
    color: white;
    animation: shake .25s;
    -webkit-animation: shake .25s;
}

.footer .share .fa-instagram:hover{
    background-image: radial-gradient(circle at 30% 107%,
    #fdf497 8%,#fdf497 5%,#fd5949 45%,
    #d6249f 60%, #205AEB 98%);
    color: white;
    outline-color:#d6249f;
    animation: shake .25s;
    -webkit-animation: shake .25s;
}

@keyframes shake{
    10%{transform: rotate(15deg);}
    20%{ transform: rotate(-15deg); -webkit-transform: rotate(-15deg); -moz-transform: rotate(-15deg); -ms-transform: rotate(-15deg); -o-transform: rotate(-15deg); }
    30%{ transform: rotate(15deg) ; -webkit-transform: rotate(15deg) ; -moz-transform: rotate(15deg) ; -ms-transform: rotate(15deg) ; -o-transform: rotate(15deg) ; }
    40%{ transform: rotate(-15deg) ; -webkit-transform: rotate(-15deg) ; -moz-transform: rotate(-15deg) ; -ms-transform: rotate(-15deg) ; -o-transform: rotate(-15deg) ; }
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    gap: 1rem;
}

.footer .links a{
    padding: 2rem 2rem;
    color: black;
    border: var(--border);
    font-size: 1.6rem;
    background-color: white;
    outline: 2px solid black;
}

.footer .links a:hover{
    background-color: #234568;
    color: white;
    outline-offset: 2.5px;
}

.footer .credits{
    font-size: 1.6rem;
    color: black;
    font-weight: lighter;
    padding: 1.5rem;
}

.footer .credits span{
    color: #4f3b34;

}
